name: OpenWISP
slug: openwisp
version: "1.2.0b0"
description: OpenWISP add-on (single container, upstream docker-openwisp)
url: https://openwisp.org/
arch: [aarch64, amd64, armv7, armhf, i386]
startup: services
boot: auto
init: false
ingress: true
ingress_port: 80
panel_icon: mdi:wifi
panel_title: OpenWISP
ports:
  80/tcp: 80
options:
  admin_email: "admin@example.com"
  admin_password: "admin"
  time_zone: "UTC"
  language_code: "en-gb"
  debug: false
  allowed_hosts: "*"
  dashboard_domain: "localhost"
  api_domain: "localhost"
  db_engine: "django.contrib.gis.db.backends.postgis"
  db_host: ""
  db_port: 5432
  db_name: "openwisp"
  db_user: "openwisp"
  db_password: ""
  redis_host: ""
  redis_port: 6379
  redis_user: ""
  redis_password: ""
  use_radius: false
  use_topology: false
  use_firmware: false
  use_monitoring: false
  metric_collection: false
  secret_key: ""
schema:
  admin_email: str
  admin_password: password
  time_zone: str
  language_code: str
  debug: bool
  allowed_hosts: str
  dashboard_domain: str
  api_domain: str
  db_engine: str
  db_host: str
  db_port: int
  db_name: str
  db_user: str
  db_password: password?
  redis_host: str
  redis_port: int
  redis_user: str?
  redis_password: password?
  use_radius: bool
  use_topology: bool
  use_firmware: bool
  use_monitoring: bool
  metric_collection: bool
  secret_key: password?
